@import "tailwindcss";

/* Custom CSS variables */
@theme{
  --font-kalam: "Kalam", cursive;
  --color-paper-bg: #fdfbf7;
  --color-ink-blue: #1a237e;
  --color-paper-line: #a4b0be;
  --color-margin-line: #ff6b6b;
}

body {
  font-family: var(--font-kalam);
  background-color: #333;
  color: var(--color-ink-blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


input,
textarea,
button {
  font-family: var(--font-kalam);
}

::selection {
  background: rgba(255, 235, 59, 0.3);
  /* Highlighter effect */
}